.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0px;
    background-color: #181818;
    background-image: url('/imagens/fundo.png');
    background-position: right bottom;
}

.rodape h5 {
    color: #ffff;
    font-weight: 500;
    font-size: 20px;
}